.margin-titles-pg, .contact-container, .margin-sectmain div div .parrafo-producto {
  display: flex;
  justify-content: center;
}

.margin-titles-pg, .footer-container .footer-inline .footer-center, .footer-container .footer-inline {
  display: flex;
  flex-wrap: wrap;
}

/*inicio de estilos del header*/
header .nav-bar div div ul li .title {
  font-family: "Bree Serif", serif;
  font-weight: 600 lighter;
  font-size: 20px;
  display: block;
  padding: 0.5rem 1rem;
  color: #c5a75e;
}

/*fin de estilos del header*/
.margin-titles-pg, .contact-container, .margin-sectmain div div .parrafo-producto {
  display: flex;
  justify-content: center;
}

.margin-titles-pg, .footer-container .footer-inline .footer-center, .footer-container .footer-inline {
  display: flex;
  flex-wrap: wrap;
}

/*inicio estilos del footer*/
.footer-container {
  padding-top: 50px;
  background-color: #982c3b;
  color: #fff;
  border-top: 2px solid #252932;
  padding: 20px 15px;
  margin-top: 50px;
  /*estilo del footer para mobiles and tablets*/
}
@media screen and (max-width: 980px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    background-color: #000;
  }
}
.footer-container .footer-inline {
  width: 100%;
  padding-top: 5px;
}
@media screen and (max-width: 980px) {
  .footer-container .footer-inline {
    display: flex;
    justify-content: center;
  }
}
.footer-container .footer-inline .footer-center {
  width: 25%;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 980px) {
  .footer-container .footer-inline .footer-center {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
.footer-container .footer-inline .footer-center p {
  margin-bottom: 0;
}
.footer-container .footer-inline .footer-center .contact {
  color: #fff;
}
.footer-container div .end {
  text-align: center;
  margin-top: 30px;
  font-family: "Lato", sans-serif;
  font-size: 10px;
}

/*fin de estilos del footer*/
.margin-titles-pg, .contact-container, .margin-sectmain div div .parrafo-producto {
  display: flex;
  justify-content: center;
}

.margin-titles-pg, .footer-container .footer-inline, .footer-container .footer-inline .footer-center {
  display: flex;
  flex-wrap: wrap;
}

/*inicio de estilo carrousel*/
.margin-carr {
  margin-top: 135px;
}

/*fin de estilo carrousel*/
/*inicio de estilo seccion productos*/
.margin-sectmain {
  margin-top: 50px;
}
.margin-sectmain div div .parrafo-producto {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 20px;
  border: 2px solid #0e0d0d;
  width: 90%;
}
@media screen and (max-width: 480px) {
  .margin-sectmain .prod-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.margin-sectmain .prod-col .cont {
  position: relative;
  margin: 10px 0 10px 0;
}
.margin-sectmain .prod-col .cont:hover .img {
  opacity: 0.3;
}
.margin-sectmain .prod-col .cont:hover .text-pos {
  opacity: 1;
}
.margin-sectmain .prod-col .cont a .i-products {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
@media screen and (min-width: 981px) {
  .margin-sectmain .prod-col .cont a .pro-cir {
    border-radius: 100%;
  }
}
.margin-sectmain .prod-col .cont a .text-pos {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.margin-sectmain .prod-col .cont a .text-pos .pro-titles {
  font-size: 20px;
  color: #c5a75e;
  font-family: "Bree Serif", serif;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.margin-sectmain .prod-col .cont a .text-pos .texts-back {
  background-color: #982c3b;
  color: #c5a75e;
  font-size: 20px;
  padding: 16px 32px;
}
@media screen and (max-width: 480px) {
  .margin-sectmain .prod-col .cont {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

/*fin de estilo seccion productos*/
.margin-titles-pg, .contact-container, .margin-sectmain div div .parrafo-producto {
  display: flex;
  justify-content: center;
}

.margin-titles-pg, .footer-container .footer-inline, .footer-container .footer-inline .footer-center {
  display: flex;
  flex-wrap: wrap;
}

/*inicio estilos de contacto*/
.contact-container {
  align-items: center;
}

.contacto {
  width: 70%;
  margin: 150px 0;
  padding: 20px;
  display: grid;
  grid-template-columns: 12% 30% 16% 30% 12%;
  grid-template-rows: 50px 100px 350px 220px;
  grid-template-areas: ". . titulo . ." ". parrafo1 . parrafo2 ." ". mapa mapa mapa ." ". formulario formulario formulario . ";
  background-color: #fbedd5;
  color: black;
}
@media screen and (max-width: 480px) {
  .contacto {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 100px 100px 350px 220px;
    grid-template-areas: "titulo" "parrafo1" "parrafo2" "mapa" "formulario";
  }
}

.contact-title {
  text-align: center;
  grid-area: titulo;
}

.adress-container {
  grid-area: parrafo1;
  justify-self: end;
}

.hours-container {
  grid-area: parrafo2;
  justify-self: start;
}

.mapa {
  grid-area: mapa;
  justify-self: center;
}

.formulario {
  grid-area: formulario;
}

/*inicio de estilos del formulario*/
form {
  margin: 0 auto;
  width: 500px;
  padding: 1em;
  border: 1px solid #ccc;
}
@media screen and (max-width: 480px) {
  form {
    width: 400px;
  }
}
form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
form ul li {
  margin-top: 1em;
}
@media screen and (max-width: 480px) {
  form ul li {
    display: flex;
    flex-direction: column;
  }
}
form ul li label {
  display: inline-block;
  width: 90px;
  text-align: right;
}
form ul li input, form ul li textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}
form ul li input:focus, form ul li textarea:focus {
  border-color: #000;
}
form ul li textarea {
  vertical-align: top;
  height: 5em;
}
form ul li button {
  margin-left: 0.5em;
}
form ul .button {
  padding-left: 90px;
}

/*fin de estilos del formulario*/
/*fin de estilos de contacto*/
/*Reseteo de estilos predeterminados*/
* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*fin de reseteo de estilos predeterminados*/
body {
  background-color: #f8f5F0;
}

img {
  max-width: 100%;
}

.disclaimer {
  display: none;
}

.margin-titles-pg, .margin-sectmain div div .parrafo-producto, .contact-container {
  display: flex;
  justify-content: center;
}

.margin-titles-pg, .footer-container .footer-inline, .footer-container .footer-inline .footer-center {
  display: flex;
  flex-wrap: wrap;
}

.margin-titles-pg, .margin-sectmain div div .parrafo-producto, .contact-container {
  display: flex;
  justify-content: center;
}

.margin-titles-pg, .footer-container .footer-inline, .footer-container .footer-inline .footer-center {
  display: flex;
  flex-wrap: wrap;
}

/*inicio de estilo para las pages*/
.margin-titles-pg {
  margin-top: 180px;
  color: #982c3b;
  font-weight: 600 lighter;
  font-size: 20px;
  padding: 0.5rem 1rem;
  font-family: "Lato", sans-serif;
}

.sect-margin {
  margin-top: 50px;
}

/*# sourceMappingURL=style.css.map */
