@import 'components/header';
@import 'components/footer';
@import 'components/main-index';
@import 'components/contacto';
@import 'base/lists';
@import 'components/general';
@import 'base/extends';





