@import '../base/_lists.scss';
@import '../base/_extends.scss';
@import '../base/_mixin.scss';



/*inicio estilos de contacto*/

.contact-container {
    @extend %center;
    align-items: center;
}
// .table-responsive {
// }

.contacto {
    width: 70%;
    margin: 150px 0;
    padding: 20px;
    display: grid;
    grid-template-columns: 12% 30% 16% 30% 12%;
    grid-template-rows: 50px 100px 350px 220px;
    grid-template-areas:
    ". . titulo . ."
    ". parrafo1 . parrafo2 ."
    ". mapa mapa mapa ."
    ". formulario formulario formulario . "
    ;
    @include colors (#fbedd5, black);

    @media screen and (max-width:480px) {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 100px 100px 350px 220px;
        grid-template-areas:
        "titulo"
        "parrafo1"
        "parrafo2"
        "mapa"
        "formulario";
    }
}
// .table-responsive {

// }

.contact-title {
    text-align: center;
    grid-area: titulo;
}
.adress-container {
    grid-area: parrafo1;
    justify-self: end;
}
.hours-container {
    grid-area: parrafo2;
    justify-self: start;
}
.mapa {
    grid-area: mapa;
    justify-self: center;
}
.formulario {
    grid-area: formulario;
}
// .table-responsive {
// }
/*inicio de estilos del formulario*/
form {
    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 1px solid #ccc;
    @media screen and (max-width:480px) {
        width: 400px;
        }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            margin-top: 1em;
            @media screen and (max-width:480px) {
                display: flex;
                flex-direction: column;
            }
            label {
                display: inline-block;
                width: 90px;
                text-align: right;
            }
            input , textarea {
                font: 1em sans-serif;
                width: 300px;
                box-sizing: border-box;
                border: 1px solid #999;
            }
            input:focus, textarea:focus {
                border-color: #000;
            }
            textarea  {
                vertical-align: top;
                height: 5em;
            }
            button {
                margin-left: .5em;
            }

            
        }
        .button {
            padding-left: 90px;
        }
    }
}
/*fin de estilos del formulario*/
/*fin de estilos de contacto*/



// .contact-container{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .contacto {
//     width: 70%;
//     margin: 150px 0;
//     padding: 20px;
//     display: grid;
//     grid-template-columns: 12% 30% 16% 30% 12%;
//     grid-template-rows: 50px 100px 350px 220px;
//     grid-template-areas:
//     ". . titulo . ."
//     ". parrafo1 . parrafo2 ."
//     ". mapa mapa mapa ."
//     ". formulario formulario formulario . "
//     ;
//     color: nth($font-color, 3);
//     background-color:#fbedd5;
// }
 
// @media screen and (max-width:480px) {
//     // .contacto { 
//     //     width: 100%;
//     //     grid-template-columns: 1fr;
//     //     grid-template-rows: 50px 100px 100px 350px 220px;
//     //     grid-template-areas:
//     //     "titulo"
//     //     "parrafo1"
//     //     "parrafo2"
//     //     "mapa"
//     //     "formulario";
//     // }
    
//     form {
//         width: 400px;
//         ul {
//             li {
//                 display: flex;
//                 flex-direction: column;
//             }
//         }
//     }
// }

// .contact-title {
//     text-align: center;
//     grid-area: titulo;
// }
// .adress-container {
//     grid-area: parrafo1;
//     justify-self: end;
// }
// .hours-container {
//     grid-area: parrafo2;
//     justify-self: start;
// }
// .mapa{
//     grid-area: mapa;
//     justify-self: center;

// }
// .formulario{
//     grid-area: formulario;
// }



// form {
//     margin: 0 auto;
//     width: 500px;
//     padding: 1em;
//     border: 1px solid #ccc
// }

// form ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;
// }
// form li + li {
//     margin-top: 1em;
// }
// label {
//     display: inline-block;
//     width: 90px;
//     text-align: right;
// }
// input, textarea {
//     font: 1em sans-serif;
//     width: 300px;
//     box-sizing: border-box;
//     border: 1px solid #999;
// }
// input:focus, textarea:focus {
//     border-color: #000;
// }
// textarea {
//     vertical-align: top;
//     height: 5em;
// }
// .button {
//     padding-left: 90px;
// }
// button {
//     margin-left: .5em;
// }
