/*Reseteo de estilos predeterminados*/
*{
    margin: 0;
    padding: 0;
}
li {
   list-style-type: none; 
}
a {
    text-decoration: none
}
/*fin de reseteo de estilos predeterminados*/

body {
    background-color: #f8f5F0;
    font-family: 'Poppins', sans-serif;
}
img {max-width: 100%;}

.disclaimer {
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Poppins:wght@300;400;500;600&display=swap');
