/*Reseteo de estilos predeterminados*/
*{
    margin: 0;
    padding: 0;
}
li {
   list-style-type: none; 
}
a {
    text-decoration: none
}
/*fin de reseteo de estilos predeterminados*/

body {
    background-color: #f8f5F0;
    // font-family: 'Poppins', sans-serif;
}
img {max-width: 100%;}

.disclaimer {
    display: none;
}